<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/lib/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
        <script src="js/lib/jquery-min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="js/todoItem.js"></script>
        <script src="js/todoItemView.js"></script>
        <script src="js/todoItemsView.js"></script>
        <script src="js/todoItems.js"></script>
        <script src="js/main.js"></script>

        <script id="todoItemTemplate" type="text/html">
            <label>
                <input type="checkbox" {{#completed}} checked {{/completed}} id="toggle"></input>
                {{title}}
                <button id="delete">Delete</button>
            </label>   
        </script>

        <script id="todoItemsTemplate" type="text/html">
            <header>
                <input type="text" id="newItemInput" autofocus placeholder="Whats the next task?"></input>
            </header>
            <ul id="todoItemsView"></ul>
        </script>
    </body>
</html>
