
body {
	padding: 40px;
	background: #f9f9f9;
}

body, p { font-size: 24px; }

#todoItemsView {
	list-style: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-left: 0px;
	margin-top: 0px;
	background: #fff;
}

#todoItemsContainer {
	width: 900px;
	margin: 0 auto; 
}

#newItemInput {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

#todoItemsView > li{
	padding: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#todoItemsView > li > label > #delete {
	float: right;
	font-size: 14px;
	background: #d9534f;
	border: 0;
	border-radius: 9px;
	color: #fff;
	padding: 8px;
}


#todoItemsView li.completed {
	text-decoration: line-through;
}